<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>회사 정보</h4>
      <p>
        봉구책방<br />
        대표 : xxx<br />
        오프라인 : 서울시 서초구 도서로 123, 봉구빌딩 5층<br />
      </p>
    </div>
    <div class="footer-section">
      <h4>연락처</h4>
      <p>
        Email : info@bonggu.co.kr<br />
        전화번호 : 02-XXXX-XXXX<br /><br /><br />
      </p>
    </div>
    <div class="footer-section">
      <h4>SNS</h4>
      <ul>
        <li>
          <a href="https://www.facebook.com/bongubooks" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://twitter.com/bongubooks" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/bongubooks" target="_blank"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-container2">
    <p>
      <a href="#none">이용약관 |</a>
      <a href="#none">개인정보처리방침 |</a> Copyright ⓒ 2023 봉구책방 All
      rights reserved
    </p>
  </div>
</footer>
