<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/infor_style.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <div class="info-container">
      <h3>봉구책방을 찾아와 주시는 고객분들께</h3>

      <p>
        봉구책방은 독립출판을 중심으로 사진,그림,에세이,디자인 등에 관련된 책을
        보유하고 있습니다.<br />
        제한된 수량을 보유하고 있기에 꼭 필요하신 분께 책이 전달되었으면
        합니다.<br />

        또한 , 개성있는 작가분들과의 소통으로 더 많은 분들께서 감동과 생각의
        확장을 느껴보시길 바랍니다.<br /><br />
        감사합니다.
      </p>

      <h3>영업 시간</h3>

      <p>
        월요일 - 토요일: 10:00 AM - 8:00 PM<br />
        일요일: 12:00 PM - 6:00 PM
      </p>

      <h3>자주 묻는 배송 질문</h3>

      <p>
        기본 배송비는 3,000원이며 50,000원 이상 구매 시 무료배송 됩니다. <br />
        (도서 산간 3,000원 추가 / 로젠택배)<br />
        오후 4시까지 주문결제까지 완료해주시면 당일에 택배가 출고됩니다. <br />
      </p>

      <h3>Contact</h3>

      <p>
        <strong>이메일:</strong> info@bonggu.co.kr<br />
        <strong>전화번호:</strong> 02-1234-5678<br />
        <strong>주소:</strong> 서울시 서초구 도서로 123, 봉구빌딩 5층<br /><br />

        <strong>입고문의</strong> : bonggu@naver.com<br />
        <strong>디자인문의</strong> : bonggustudio@naver.com<br />
      </p>
    </div>
  </body>
  <%- include('bt_nav.html') %>

  <script src="/js/script.js" defer></script>
</html>
