<header>
  <a href="/">
    <img src="/photo/bongu_logo.jpg" alt="Header Image" />
  </a>

  <div class="header-links">
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
    <a href="/bookMarks">장바구니</a>
    <a href="#">즐겨찾기</a>
  </div>
</header>
<!-- Header End -->

<!-- Navigation Start -->
<nav>
  <div class="menu">
    <a href="#">Books</a>
    <div class="submenu">
      <a href="#">에세이 | 소설 | 문학</a>
      <a href="#">디자인 | 문화 | 예술</a>
      <a href="#">매거진</a>
      <a href="#">사진</a>
      <a href="#">엽서북</a>
    </div>
  </div>

  <div class="menu">
    <a href="#">Goods</a>
    <div class="submenu">
      <a href="#">스티커 | 뱃지 | 포스터</a>
      <a href="#">달력</a>
      <a href="#">메모지 | 노트 | 엽서</a>
      <a href="#">펜 | 티셔츠</a>
    </div>
  </div>

  <div class="menu">
    <a href="#">Workshop</a>
    <div class="submenu"></div>
  </div>

  <div class="menu">
    <a href="#">Infor</a>
    <div class="submenu"></div>
  </div>

  <div class="search-container">
    <input type="text" placeholder="검색어를 입력하세요..." />
    <button type="button">검색</button>
  </div>
</nav>
