<header>
  <a href="/">
    <img src="/photo/bongu_logo.jpg" alt="Header Image" />
  </a>

  <div class="header-links">
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
    <a href="/bookMarks">장바구니</a>
    <a href="#">즐겨찾기</a>
  </div>
</header>
<!-- Header End -->

<!-- Navigation Start -->
<nav>
  <div class="menu">
    <a href="/">Books</a>
    <div class="submenu">
      <a href="/books/essay">에세이 | 소설 | 문학</a>
      <a href="/books/design">디자인 | 문화 | 예술</a>
      <a href="/books/magazine">매거진</a>
      <a href="/books/picture">사진</a>
      <a href="/books/postcardBook">엽서북</a>
    </div>
  </div>

  <div class="menu">
    <a href="/goods">Goods</a>
    <div class="submenu">
      <a href="/goods/sticker">스티커 | 뱃지 | 포스터</a>
      <a href="/goods/calendar">달력</a>
      <a href="/goods/notePaper">메모지 | 노트 | 엽서</a>
      <a href="/goods/pen">펜 | 티셔츠</a>
    </div>
  </div>

  <div class="menu">
    <a href="/workshops">Workshop</a>
    <div class="submenu"></div>
  </div>

  <div class="menu">
    <a href="#">Infor</a>
    <div class="submenu"></div>
  </div>

  <div class="search-container">
    <form action="/search" method="post">
      <input
        type="text"
        name="searchTerm"
        placeholder="검색어를 입력하세요..."
      />
      <button type="submit">검색</button>
    </form>
  </div>
</nav>
