body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

header {
    position: relative;
    text-align: center;
    background-color: #F7F7F7;
}

header img {
    margin-top: 15px;
    height: 100px;
    width: 200px;
}

.header-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.header-links a {
    color: #0D2645;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
}

nav {
    background-color: #F7F7F7;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #0D2645;
}

.menu {
    display: inline-block;
    margin-right: 20px;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    z-index: 1;
}

.menu a {
    color: #0D2645;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: #F7F7F7;
}

.menu:hover .submenu {
    opacity: 1;
    transform: translateY(0);
}

nav div.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px); /* 조금 더 자연스러운 위치로 조정 */
    width: 200px;
    z-index: 2;
}

.menu:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0D2645;
    width: 200px;
    z-index: 2;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.submenu a {
    color: #B9B9B9;
    padding: 10px;
    text-align: center;
    transition: color 0.3s; /* 색깔 변화를 부드럽게 만들기 위한 트랜지션 추가 */
}

/* 색깔 변화 스타일 추가 */
.submenu a:hover {
    color: #0D2645; /* 호버 시 텍스트 색깔 변경 */
    font-weight: bold;
    font-size : 17px;
}
